<html>

<head>
    <base href="/">
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="homecook" ng-controller="authController">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                    <ul>
                        <li>{{Firstname}}</li><button>edit</button>
                        <li>{{Lastname}}</li><button>edit</button>
                        <li>{{Surname}}</li><button>edit</button>
                        <li>{{Location}}</li><button>edit</button>
                        <li>{{Availability}}</li><button>edit</button>
                        <li>{{img}}</li><button>edit</button>
                        <li>{{password}}</li><button>edit</button>
                        <li>{{email}}</li><button>edit</button>
                    </ul></br>
                    <h1>What can you cook ?</h1>

<div class="panel panel-primary" style="margin:20px;">
    <div class="panel-heading">
            <h3 class="panel-title">Food Registration</h3>
    </div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
    <div class="form-group col-md-6 col-sm-6">
            <label for="name">Name* </label>
            <input type="text" class="form-control input-sm" id="name" placeholder="">
        </div>


    <div class = "form-group col-md-6 col-sm-6">
          <label for="dishes">You can select dishes</label>  
     
          <select class="form-control input-sm" id="dishes">
        <option>-- Select type of food --</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
          </select>
    </div>

    <div class = "form-group col-md-6 col-sm-6">
          <label for="dietary-restrictions">Dietary Restrictions</label>       
          <select class="form-control input-sm" id="dietary-restrictions">
        <option>-- Select dietary type --</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
          </select>
    </div>

    <div class="form-group col-md-3 col-sm-3">
        <label for="photo">Photo*</label>
        <input type="file" id="photo">
        <p class="help-block">Please upload individual photo. Group photo is not acceptable.</p>
    </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Price </label>
            <input type="text" class="form-control input-sm" id="name" placeholder="Price">
        </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="name">Comment </label>
            <input type="text" class="form-control input-sm" id="name" placeholder="Comment">
        </div>

    <div class="form-group col-md-3 col-sm-3 pull-right" >
            <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
</div>
</form>
<!--  <ui-view>Add a preview of the food you add below and make a possibility to edit/delete it</ui-view> -->
</div>
            </div>
        </div>
    </div>
    
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/postFactory.js"></script>
    <script src="js/services/authFactory.js"></script>
    <script src="js/controllers/authController.js"></script>
    <script src="js/controllers/navController.js"></script>
    <script src="js/controllers/postController.js"></script>
    <script src="js/controllers/commentController.js"></script>
</body>

</html>