<html>

<head>
    <base href="/">
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="homecook" ng-controller="authController">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                    <ul>
                        <li>{{User.profile.name}}</li><button type="submit" ng-click="editUser($index)">edit</button>
                       <!--  <li>{{Lastname}}</li><button>edit</button>
                        <li>{{Surname}}</li><button>edit</button>
                        <li>{{Location}}</li><button>edit</button>
                        <li>{{Birthday}}</li><button>edit</button>
                        <li>{{img}}</li><button>edit</button>
                        <li>{{password}}</li><button>edit</button>
                        <li>{{email}}</li><button>edit</button> -->
                        <!-- <li>{{Payment}}</li><button>edit</button> -->
                    </ul></br>
            </div>
        </div>
    </div>
    
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/postFactory.js"></script>
    <script src="js/services/authFactory.js"></script>
    <script src="js/controllers/authController.js"></script>
    <script src="js/controllers/navController.js"></script>
    <script src="js/controllers/postController.js"></script>
    <script src="js/controllers/commentController.js"></script>
</body>

</html>